body {
	font-family: 'PT Sans', sans-serif;
	color: #FFFAFA;
	padding: 10px;
	background-color:#FFFAFA;
	
}
h1 {
	font-size:72pt;
	line-height:0.7em;
	letter-spacing: 0.2em;
	text-align:left;
	color:#F1E2E2;
	
}

h3{
	font-size: 130%
}

p {
	font-size:25pt;
	font-weight:bold;
	letter-spacing:0.025em;
	text-align:left;
	padding-right:40px;
	max-width:620px;
	color:#A9A9A9
	/*color:rgb(0,0,0);A88994*/
}	


b{
	color:#9E6E7F;
	text-shadow: 2px 2px 7px #000000;
}



.myface{
	max-width:90%;
	height:auto;
	width:auto\9;
	
}

.page{
	/*border: 5px solid #665544;*/	

	background-color:#190009 ;
	
	padding: inherit;
	padding-left:2em;	

}

/*diff parts of page*/
.involvement{
	background-color:#794558;
	padding: inherit;
	padding-left:2em;	
	
	
}

.skills{
	background-color:#582738;
	padding: inherit;
	padding-left:2em;	
	
	
}


.tabs{
	float:right;
	/*font-size:300%;*/
	font-size:4vw;
	
}



.home{
	
	positin:absolute;
	top:100px;
	left:900px;

	text-align:right; 
	color:#582738;
	
	margin-right:30px;
	text-shadow: 2px 2px 7px #000000;
	
}
.sklls{
	
	positin:absolute;
	top:100px;
	left:900px;
	
	text-align:right; 
	color:#9E6E7F;

	margin-right:30px;
	text-shadow: 2px 2px 7px #000000;
}
.inv{
	
	positin:absolute;
	top:100px;
	left:900px;
	
	text-align:right; 
	color:#9E6E7F;

	margin-right:30px;
	text-shadow: 2px 2px 7px #000000;
}



img{
	display:inline;
	margin-right:50px;	
}

li{
	font-size: 170%;
	list-style-type:none;
	color:#C0C0C0;
}

strong{
	color:#A07A88;
}




a:link{
	color:#9E6E7F;
	text-decoration:none;
}

a:visited{
	color:#9E6E7F;
}

a:hover{
	color:#582738;
}


.btt{
	font-size:20px;
	
}





















