body {
	font-family: 'PT Sans', sans-serif;
	color: #FFFAFA;
	padding: 10px;
	background-color:#FFFAFA;
}
h1 {
	font-size:72pt;
	line-height:0.7em;
	letter-spacing: 0.2em;
	text-align:left;
	color:#F1E2E2;
	
}

h3{
	font-size: 130%
}

p {
	font-size:25pt;
	font-weight:bold;
	letter-spacing:0.025em;
	text-align:left;
	padding-right:40px;
	max-width:620px;
	color:#A9A9A9
	
	/*color:rgb(0,0,0);A88994*/
}	



b{
	color:#9E6E7F;
	text-shadow: 2px 2px 7px #000000;
}



.page{
	/*border: 5px solid #665544;*/
	background-color:#190009 ;
	padding: inherit;
	padding-left:2em;
	
	
}


.home{
	text-align:left; 
	color:#582738;
	display:inline; 
	margin-right:30px;
	text-shadow: 2px 2px 7px #000000;
	
}
.blog{
	text-align:left; 
	color:#9E6E7F;
	display:inline; 
	margin-right:30px;
	text-shadow: 2px 2px 7px #000000;
}
.portf{
	text-align:left; 
	color:#9E6E7F;
	display:inline; 
	margin-right:30px;
	text-shadow: 2px 2px 7px #000000;
	
}

img{
	display:inline;
	margin-right:30px;
	
}


a:link{
	color:#9E6E7F;
	text-decoration:none;
}

a:visited{
	color:#9E6E7F;
}

a:hover{
	color:#8A754F;
}

